.login {
	height: 100%;
}

.login__area {
	padding: 15px 50px;
	width: 70vw;
	height: 70vh;
	border-radius: 50px;
	background-color: lightslategray;
	display: flex;
	// flex-direction: column;
	justify-content: space-around;
	row-gap: 30px;
	align-items: center;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

	img {
		height: 100%;
	}
}

.login__container {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.login__area-photo {
	// flex: 1;
	position: absolute;
	top: -50px;
}

.login__form {
	position: relative;
	display: flex;
	// flex: 2;
	flex-direction: column;
	// justify-content: space-evenly;
	row-gap: 10px;
	align-items: center;
	width: auto;
	height: auto;
	padding: 60px 40px 30px 40px;
	border-radius: 30px;
	background-color: rgb(200, 190, 202, 0.2);
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.login__area-photo {
	align-content: center;
}

.login__area-img {
	width: 100px;
	height: 100px;
	path {
		
	fill: rgb(60, 82, 114);
	}
}

// .login__select {
// 	width: 15rem;
// 	height: 70px;
// 	border-radius: 20px;
// }

.uk-button {
	height: 3em;
	width: 10em;
	// width: auto;
	line-height: 3em;
	border-color: rgb(60, 82, 114);

}

.uk-button-profile {
	width: 100%;
	border-top: none;
	border-left: none;
	border-right: none;

}

.uk-sign-up {
	margin: 0 auto;
	color: rgb(60, 82, 114) !important;
	&:hover {
		color: rgb(50, 70, 100) !important;
	}
}

.login__sign-in-up {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	// padding-right: 1.5em;
}

.uk-input {
	// height: auto;
	// background: none;
	background-color: rgb(60, 82, 114);
	border-color: rgb(130, 138, 164);
	&:focus {
		background-color: rgb(50, 70, 100);
	}
}